name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    strategy:
      matrix:
        include:
          - host: riscv32im-linux-x86_64
            runs-on: ubuntu-22.04
            arch: x64

          - host: riscv32im-linux-arm64
            runs-on: ubuntu-22.04-arm
            arch: arm64
  
          - host: riscv32im-osx-x86_64
            runs-on: macos-13
            arch: Intel

          - host: riscv32im-osx-arm64
            runs-on: macos-14
            arch: arm64

          - host: riscv64im-linux-x86_64
            runs-on: ubuntu-22.04
            arch: x64

          - host: riscv64im-linux-arm64
            runs-on: ubuntu-22.04-arm
            arch: arm64

          - host: riscv64im-osx-x86_64
            runs-on: macos-13
            arch: Intel

          - host: riscv64im-osx-arm64
            runs-on: macos-14
            arch: arm64

    runs-on: ${{ matrix.runs-on }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up environment (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y autoconf automake autotools-dev curl python3 python3-pip python3-tomli libmpc-dev libmpfr-dev libgmp-dev gawk build-essential bison flex texinfo gperf libtool patchutils bc zlib1g-dev libexpat-dev ninja-build git cmake libglib2.0-dev libslirp-dev

      - name: Set up environment (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install python3 gawk gnu-sed make gmp mpfr libmpc isl zlib expat texinfo flock libslirp

      - name: Build
        run: |
          mkdir -p .dist
          ./build.sh ${{ matrix.host }}

      - name: Upload Release Asset
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.host }}.tar.xz
          path: .dist/${{ matrix.host }}.tar.xz
